@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

$font-1:'Libre Baskerville', serif;
$font-2:'Time New Roman' ;
$font-P:'Dancing Script', cursive;

$color-1:#1A4E78;
$color-2:#81C3F9;
$color-3:#36A1F7;
$color-4:#004780;
$color-5:#2B7FC4;


$borderRadius:5px;
