@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
:root {
    --url-font-1: url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;700&display=swap');
    --font-1:var(--url-font-1)'Libre Baskerville', serif;
    --font-2:'Time New Roman' ;
    --font-P:'Dancing Script', cursive;
    
    --color-1:#1A4E78;
    --color-2:#81C3F9;
    --color-3:#36A1F7;
    --color-4:#004780;
    --color-5:#2B7FC4;
    --color-modal-b:#36A1F7;

    --font-size-h1:1.6em;
    --font-size-h1-mobile:1em;
    --font-size-p-mobile:1em;
    --font-size-li-a-mobile:0.9em;
    --font-size-h2-mobile:1em;
    --font-size-p-mobile-modal:0.9em;
    --font-size-p:1.5em;
    --font-size-button:0.7em;
  
    --borderRadius:5px;
    --height-nav-mobile:6vh;
    --white: whitesmoke;
}

body{
    background-color: var(--color-1);
}
main{
    background-color: var(--color-1);
    background-image: var(--background-image);
    height: 98vh;
    width: 100%;
}

nav{
    background-color: var(--color-4);
    height: 6vh;   
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    color: var(--color-3);
    flex-direction: row;
    border: var(--color-5) solid 0.4vh;
    align-items: center;
    margin: auto;
    margin-top: 0.9%;

}

li a {
    text-decoration: none;
    color: var(--color-3);
    font-size: var(--font-size-h1);
    font-family: var(--font-1);
}

#liH1{
    border-style: none;
    font-size: var(--font-size-h1);
    font-size: var(--font-size-h1);
    font-family: var(--font-1);
}

li:hover{ 
    background-color: var(--color-3);
    border: var(--color-3) solid 0.4vh;
}
a:hover{
    color: var(--white);
}


#recit{
    width: 90%;
    margin: auto;
    background-color: var(--color-4);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

h1{
    color: var(--white);
    text-align: center;
    font-family: var(--font-1);
    font-weight: bold;
}
p {
    color: var(--white);
    font-family: var(--font-P);
    font-size: var(--font-size-p);
}
.recit-header-text{
    width: 80%;
}

#recit-text{
    background-color: var(--color-5);
    margin: 2% 5%;
    border: solid var(--color-5) 1px;
    border-radius: var(--borderRadius);
    width: 80%;
    padding: 30px;
    text-align: center;
    border-radius: 35px;
    position: relative; 
    font-size: 1.6em;
    font-family: var(--font-P);
}
#recit-text:before{
    content: "";
    position: absolute;
    border-right: 20px solid var(--color-5);
    border-left: 20px solid transparent;
    border-bottom: 20px solid var(--color-5);
    border-top: 20px solid transparent;
    left: -1em;
    top: 2.5m;
}
#recit-h{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.choose{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 95%;
}
.choose p{
    flex-direction: column;
    margin: 1%;
    border: var(--color-2) 1px solid;
    margin: auto;
    padding: 1% 3%;
    margin-top: 0.5%;
    border-style: groove;
    width: 50%;
}
.choose p:hover{
    background-color: var(--color-2);
    cursor: url("../img/icons/logo.png"),pointer;
    border-style: groove, outset ;
    transform: translate(1%,1%) ;
}
.choose p:last-child{
    margin-bottom: 5%;
}
.nosound{
    background-image: url("./../img/icons/nosound.svg");
    width: 3.5vh;
    height: 3.5vh;
    background-size: 100%;
    background-color: var(--color-4);
    }


  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Window modale                                            ////
  ///                                                                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */

  

  /* dialog overlay */
  .c-dialog {
    display: flex;
    position: fixed;
    z-index: 100;
    top: 10vh;
    right: 2vh;
    bottom: 0;
    left: 2vh; 
    overflow-y: scroll;
/*     -webkit-overflow-scrolling: touch;
    background-color: rgba(black, .75); */
    transition: .2s;
    height: 58vh;
    width: 50%;
    overflow-y: hidden;
    margin: auto;
    text-align: center;
  }
  /* dialog box */
  .c-dialog__box {
    flex: 1;
    margin: auto;
    padding: 1.4rem;
    background-color: var(--color-modal-b);
    border-radius: 10px;
  }
  
  /* hidden dialog */
  .c-dialog[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }

  #dialog-title{
      color: var(--white);
      font-size: 1.5em;
      font-family: var(--font-P);
      margin-bottom: 2%;
      font-weight: bold;
  }
  .hidden {
      background: rgba(0,0,0,0.8);
  }

  #modal-close{
      margin-left: 90%;
      margin-bottom: 1%;
  }
  #dialog-title{
    margin-top: 1%;
}

  /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Version Mobile                                           ////
  ///                                                                                         ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */

  @media screen and (min-width:300px) and (max-width: 700px) {
    #recit-h{
        flex-direction: column;
        width: 90%;
        margin: auto;
    }
    #recit-text{
        background-color: var(--color-5);
        margin: 10% 5% 2% 5%;
        border: solid var(--color-5) 1px;
        border-radius: var(--borderRadius);
        width: 90%;
        padding: 1em;
        text-align: center;
        border-radius: 35px;
        position: relative; 
        font-size: 0.9em;
    }
    #recit-text:before{
        content: "";
        position: absolute;
        border-right: 20px solid var(--color-5);
        border-left: 20px solid transparent;
        border-bottom: 20px solid var(--color-5);
        border-top: 20px solid transparent;
        left: 1.2em;
        top: -1.8em;
    }
    #recit-h{
        margin-top: 2%;
        margin-bottom: 1%;
        display: flex;
        flex-direction: column;
        
    }
    .choose{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .choose p{
        flex-direction: column;
       /*  margin: 1%; */
        border: var(--color-2) 1px solid;
        margin: auto;
        padding: 1% 3%;
        margin-top: 1.5%;
        width: 90%;
        border-style: groove;  
        font-family: var(--font-P);  
        font-size: var(--font-size-p-mobile); 
    }
    .choose p:first-child{  
        margin-top: 0%;
    }
    .choose p:last-child{
        margin-bottom: 5%;
    }
    #liH1{
        border-style: none;
        font-size: var(--font-size-h1-mobile);
        margin-left: 0.5%;
        margin-right: 0.5%;

    }
    nav{
        height: var(--height-nav-mobile); 
        margin-top: 2%;  
    }

    li a{
        font-size: var(--font-size-li-a-mobile);
    }
        /*
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  //////                                                                                   //////
  /////                                                                                     /////
  ////                              Window modale                                            ////
  ///                               Version mobile                                            ///
  //                                                                                           //
  /                                                                                             /
  ///////////////////////////////////////////////////////////////////////////////////////////////
  ///////////////////////////////////////////////////////////////////////////////////////////////
  */

    .c-dialog {
        display: flex;
        padding: 1em;
        height: 50vh;
        width: 80%;
        font-size: var(--font-size-p-mobile-modal);
        margin: auto;
        text-align: center;
      }
      #modal-close{
         /*  position: relative; */
          margin-left: 70%;
          margin-bottom: 1%;
          margin-top: 1%;
          margin-right: 10%;
          width: 22%;
          font-size: var(--font-size-button);
      }
       #sendemail{
        font-size: var(--font-size-button);
      }
      /* dialog box */
      .c-dialog__box {
        margin: auto;
        padding: 0.8em;
        
      }
      #dialog-title{
          font-size: var(--font-size-h2-mobile);
      }
      #dialog p{
          font-size: var(--font-size-p-mobile-modal);
      }
  }





