:root {
    --font-1:'Libre Baskerville', serif;
    --font-2:'Time New Roman' ;
    --font-P:'Dancing Script', cursive;
    
    --color-1:#1A4E78;
    --color-2:#81C3F9;
    --color-3:#36A1F7;
    --color-4:#004780;
    --color-5:#2B7FC4;
    
    
    --borderRadius:5px;

    --img-size: 56px;
    --background-image : url("../img/backgrounds/background_night.jpg");
    --icons-content : url(../img/icons/moon.png);
}

body{
    background-color: var(--color-1);
}
main{
    background-color: var(--color-1);
    background-image: var(--background-image);
}

nav{
    background-color: var(--color-4);
    width: 105%;
    margin-left: -4%;
    margin-top: -1%;
    height: 3vh;
   
}
nav ul {
    list-style-type: none;
    display: flex;
    margin-top: 1%;
}

nav ul li {
    color: var(--color-3);
    margin: auto;
    flex-direction: row;
    border: var(--color-5) solid 0.4vh;
}

li a {
    text-decoration: none;
    color: var(--color-3);
}

#timeline {
    padding: 12px 0;
}

#timeline ol {
    display: flex; 
    justify-content: space-around;
    list-style-type: none;
    margin: 6px 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3)
}

#timeline ol li {
    visibility: hidden;
}

#timeline ol li img {
    width: var(--img-size);
    height: var(--img-size);
    content: var(--icons-content);
}

#recit{
    /* margin-top: 3%; */
    width: auto;
    background-color: var(--color-4);
}