:root {
    --img-size: 5%;
}

main {
    transition: background-image 0.8s linear;
}

#timeline {
    margin: 0.5% 0.5%;
    padding: 1%;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.2)
}

.timeline_icon {
    width: var(--img-size);
    height: var(--img-size);
    transition: transform 3s ease-in-out;
}